$extra-small: $grid_item_width;
$small: $grid_item_width * 2 + 150px;
$medium: $grid_item_width * 3 + 150px;
$large: $grid_item_width * 5;

// @media screen and (min-width: $extra-small) {
// 	// .grid-item {
// 	// 	margin: 0;

// 	// 	.title {}
// 	// }
// }

// @media screen and (min-width: $small) {
// 	.grid-item {
// 		width: 32%;
// 		display: inline-block;
// 		float: left;
// 	}
// }

@media screen and (min-width: 300px) {
	.grid {
		column-count: 1;
 		column-gap: 1em;
 		padding: 15px;
	}
}

@media screen and (min-width: 700px) {
	.grid {
		column-count: 2;
 		column-gap: 1em;
 		padding: 15px;
	}
}

@media screen and (min-width: 1100px) {
	.grid {
		column-count: 3;
 		column-gap: 1em;
 		padding: 15px;
	}
}

@media screen and (min-width: 1500px) {
	.grid {
		column-count: 4;
 		column-gap: 1em;
 		padding: 15px;
	}
}

// @media screen and (min-width: $large) {
// 	.grid-item {
// 		width: 17%;
// 		display: inline-block;
// 		float: left;
// 	}
// }